/*Elements*/
body {
  font-size: larger;
}
/*Classes*/
.fa-brands {
  font-size: x-large;
}
.fa-facebook {
  color: #1491ff;
}
.fa-facebook-messenger {
  color: #1491ff;
}
.fa-instagram {
  color: #fe4b6b;
}
.fa-linkedin {
  color: #1491ff;
}
.fa-twitter {
  color: #1491ff;
}

/*ID*/
#intro {
  font-family: "Rock Salt", cursive;
}
