/*CSS Notes*/
/* CSS items should be listed by Element, Class, and then ID, personal style is alphabetical order, should consider order of importance. 
Attributes should be listed in alphabetical order.*/

/*This CSS element specifies a margin & text-decoration properties to the Anchor tag.*/
a {
  margin: 10px 20px;
  text-decoration: none;
}

/*This CSS element species properties to the body tag.*/
body {
  color: #40514e;
  background-color: #eaf6f6;
  font-family: "Merriweather", serif;
  font-size: 200%;
  text-align: center;
}

/*These next H1-H6 elments specify headers and their properties*/
h1 {
  color: #66bfbf;
  font-family: "Sacramento", serif;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  width: 10%;
}
h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h2,
h3 {
  font-family: "Montserrat", serif;
}
h3 {
  color: #11999e;
}
p {
  line-height: 2;
}

/*Specifies rules for the HR tag*/
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4px;
}

/* This sections specifies various class that are specified from the index.html file.*/
.bottom {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.contact {
  width: 40%;
  margin: 40px auto 60px;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 10px 0;
}
.hello {
  margin-top: 25px;
}
.intro {
  width: 30%;
  margin: auto;
}
.frontend {
  text-decoration: underline;
}
.middle {
  margin: 100px 0;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.top {
  background-color: #e4f9f5;
  padding-top: 100px;
  position: relative;
}

/* Person preference to split images from other classes*/
.bottomcloud {
  bottom: 300px;
  left: 250px;
  position: absolute;
}
.cookie {
  float: right;
  margin-left: 30px;
  width: 25%;
}
.computer {
  float: left;
  margin-right: 30px;
  width: 25%;
}
.socialmedia {
  height: 48px;
  width: 48px;
  margin: 0 15px 5px 0;
}
.selfie {
  height: 256px;
  width: 256px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.topcloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.zeus {
  float: left;
  margin-right: 30px;
  width: 25%;
}
